certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.6
django-materializecss-form==1.1.14
idna==2.8
oauthlib==3.1.0
psycopg2==2.8.3
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
urllib3==1.25.6
django-filter==2.1.0
djangorestframework==3.9.3
Markdown==3.1
firebase-admin==3.0.0
google-api-core==1.14.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-firestore==1.5.0
google-cloud-storage==1.20.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpcio==1.24.1
httplib2==0.14.0
msgpack==0.6.2
protobuf==3.10.0
uritemplate==3.0.0
