<!--######VIEW US10 #######-->
{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div>
            <h1><i class="zmdi zmdi-shape"> </i>Usuarios</h1></div>
        <div class="row">
            <div class="col-8">

                <div id="datatable_filter" class="dataTables_filter"><label>Buscar: (sólo está ahí de bonito, no funcional)<input
                        type="search" class="form-control form-control-sm" placeholder="Nombre de usuario..."
                        aria-controls="datatable" id="myInput" onkeyup="Filter()"></label></div>
            </div>
            <div class="col-4">
                <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">¿Qué significa cada rol?</button>
            </div>
        </div>
        <br>
        <br>

        <table class="table table-hover table-dark" id="Materiales">
            <tbody>

            <div class="row">
                <div class="col-sm-12">


            <thead>
            <tr role="row" align="center">
                <th scope="col">
                    Username
                </th>
                <th scope="col">
                    Email
                </th>
                <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                    Apellido(s)
                </th>
                <th scope="col">
                    Telefono
                </th>
                <th scope="col">
                    Rol
                </th>
         <th scope="col">
                    Editar Rol
                </th>
            </thead>


            <tbody align="center">
            {% for usuario in usuarios %}

                <tr role="row" class="odd">
                    <td tabindex="0" class="sorting_1">{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.last_name }}</td>
                    <td>{{ usuario.cellphone }}</td>

                    <td>
                        {% if usuario.is_anon %}
                            Anónimo
                            {% elif usuario.is_voluntario %}
                            Voluntario
                            {% elif usuario.is_administrador %}
                            Administrador
                            {% elif usuario.is_adminplus %}
                            Admin Plus
                        {% endif %}
                    </td>

                     <td><a href="{% url "users:detalle_usuario"  id=usuario.id %}"
                                   data-animation="blur" data-overlaycolor="#36404a">
                                <button type="button" class=" btn btn-success"><i class="mdi mdi-account"></i>
                                </button>
                            </a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Roles de los Usuarios</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h4>Anónimo</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                    <hr>
                    <h4>Voluntario</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                    <hr>
                    <h4>Administrador</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                    <hr>
                    <h4>Admin Plus</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Okay, ¡gracias!</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


{% endblock %}

<!--######VIEW US10 #######-->

