<!--######VIEW US12 #######-->
{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div>
            <h1><i class="zmdi zmdi-shape"> </i>Usuarios</h1>
        </div>
        <div class="card-box">
            <div class="row">
                <h2>Información del usuario: {{ usuario.username }}</h2>
            </div>
            <br>
            <div class="row">
                <p>
                    <strong>Nombre: </strong>{{ usuario.first_name }}
                    <br>
                    <strong>Apellido(s): </strong>{{ usuario.last_name }}
                    <br>
                    <strong>Email: </strong>{{ usuario.email }}
                    <br>
                    <strong>Rol: </strong>{% if usuario.is_anon %}
                            Anónimo
                            {% elif usuario.is_voluntario %}
                            Voluntario
                            {% elif usuario.is_administrador %}
                            Administrador
                            {% elif usuario.is_adminplus %}
                            Admin Plus
                        {% endif %}
                    <br>
                    <strong>Celular: </strong>{{ usuario.cellphone }}
                    <br>
                    <strong>Fecha de Nacimiento: </strong>{{ usuario.date_of_birth }}
                </p>
            </div>

                <form method="POST">
                    {% csrf_token %}
                    {{  form.as_p }}
                    <button type="submit" name="action" class=" btn btn-success">Guardar</button>
                </form>

        </div>


    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Roles de los Usuarios</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h4>Anónimo</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                    <hr>
                    <h4>Voluntario</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                    <hr>
                    <h4>Administrador</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                    <hr>
                    <h4>Admin Plus</h4>
                    <p>
                        No tiene acceso a ninguna funcionalidad del sistema.
                        <br>
                        Sólo puede ver la información de su cuenta.
                    <p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Okay, ¡gracias!</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


{% endblock %}

<!--######VIEW US12 #######-->

