{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}

    <!--######## VIEW US41 ########-->


    <h2>Reporte de equipos</h2>

    {% if  info %}
        <br>
        <div class="row">
        </div>

        <br>
    <div class="row">
            <div id="datatable_filter" class="col"><label>Buscar:<input
                    type="search" class="form-control form-control-sm" placeholder="Nombre del material"
                    aria-controls="datatable" id="myInput" onkeyup="Filter()"></label></div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-dark mb-0" id="Materiales">
                <thead>
                <tr>
                    <th>Ambulancia</th>
                    <th>Material</th>
                    <th>Faltante</th>
                    <th>Sobrante</th>

                </tr>
                </thead>
                <tbody>
                {% for  material, ambulancia in info %}

                    {% for x in material %}
                        {% if x.cantidad <  x.material.cantidad %}
                    <tr>
                            <td>{{ambulancia.nombre}}</td>
                            <td>{{ x.material.nombre }}</td>
                            <td style="background: #c22301; color: white"}>{{ x.material.cantidad|substract:x.cantidad  }}</td>
                            <td>0<td>

                    </tr>
                        {% endif %}
                        {% if x.cantidad > x.material.cantidad %}
                            <tr>
                            <td>{{ambulancia.nombre                                                                                                                                                                                                                                                                }}</td>
                            <td>{{ x.material.nombre }}</td>
                            <td> 0 </td>
                            <td style="background: dodgerblue; color: white"}>{{ x.cantidad|substract:x.material.cantidad}}<td>

                    </tr>

                        {% endif %}

                {% endfor %}
                {% endfor %}

                </tbody>

            </table>
        </div>


{% else %}
        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">

                        <div class="card">

                            <div class="card-body p-4">

                                <div class="text-center">
                                    <h1 class="text-error">500</h1>
                                    <h3 class="mt-3 mb-2">Error de servidor</h3>
                                    <p class="text-muted mb-3">No se encontro ninguna revision de esta ambulancia.
                                        Consultar a administrador </p>

                                    <a href="/index/"><i class="fas fa-home mr-1"></i> Regresar a ambulancias</a>
                                </div>


                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->






    {% endif %}
</tbody>
</table>
</div>

    <!--######## VIEW US41 ########-->
<script>
        function Filter() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("Materiales");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>
{% endblock %}