{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
    <!--######## VIEW US29 ########-->


    <h2>Historial de revisiones del estado de Unidad</h2>
       <div id="datatable_filter" class="dataTables_filter"><label>Buscar:<input
                        type="search" class="form-control form-control-sm" placeholder=""
                        aria-controls="datatable" id="myInput" onkeyup="Filter()"></label></div>

            </div>

    {% if  revisiones %}
        <div class="card-box">
        <br>

        <div class="table-responsive">
            <table class="table table-dark mb-0" id="Revisiones">
                <thead>
                <tr>

                    <th>Nombre</th>
                    <th>Fecha de Revision</th>

                </tr>
                </thead>
                <tbody>

                {% for revision in revisiones %}

                    <tr>

                        <td>{{ ambulancia.nombre }}</td>
                        <td>{{ revision.fecha }}</td>
                        <td><a href="{% url 'revision:detalle_ambulancia' id=ambulancia.id id_revision=revision.id %}">
                            <button class="btn btn-primary btn-rounded width-md waves-effect waves-light">Ver detalle
                            </button>
                        </a></td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">

                        <div class="card">

                            <div class="card-body p-4">

                                <div class="text-center">
                                    <h1 class="text-error">:(</h1>
                                    <h3 class="mt-3 mb-2">No hay elementos que mostrar</h3>
                                    <p class="text-muted mb-3">No se encontro ninguna revision del ESTADO de esta
                                        ambulancia.
                                        Consultar a administrador </p>

                                    <a href="/index/"><i class="fas fa-home mr-1"></i> Regresar a ambulancias</a>
                                </div>


                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->






    {% endif %}
</tbody>
</table>
</div>
    </div>

    <!--######## VIEW US29 ########-->
        <script>
        function Filter() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("Revisiones");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>


{% endblock %}