<!--  ######VIEW US38###### -->
{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 offset-lg-2">
                <div class="row">
                    <div class="col mb-6">
                        <h1>Crear Equipo</h1>
                            <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#modalCancel"><i
                                    class="fas fa-arrow-left"></i></button>
                        <br><br>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card-box">
                                        {% if user.is_authenticated %}
                                            <!-- comprueba si la sesión del usuario está iniciada -->

                                            {% if form.errors %}
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <ul class="messages">
                                                            <li>{{ error|escape }}</li>
                                                        </ul>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% for error in form.non_field_errors %}
                                                    <ul class="messages">
                                                        <li>{{ error|escape }}</li>
                                                    </ul>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="input-field ">
                                                <label class="active">Nombre de Equipo:</label>
                                                <input class="form-control" name="nombre" maxlength="100" required=""
                                                       id="nombre">

                                                <br>
                                                <div class="row">
                                                    <button class="btn btn-danger" type="button" data-toggle="modal"
                                                data-target="#modalCancel">Cancelar
                                                    </button>
                                                    <div class="col-md-2 offset-md-7">
                                                        <button type="submit" class="btn btn-success">Guardar</button>
                                                    </div>
                                                </div>

                                            </div>


                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

          {% if status == "SAVED" %}
            <div class="modal" id="modalSaved" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Se ha creado un equipo nuevo</p>
                        </div>
                        <div class="modal-footer">
                            <a href="/inventario/ver/" class="btn btn-success">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $("#modalSaved").modal({
                    backdrop: "static",
                    keyboard: false
                });
            </script>
        {% endif %}

      <div class="modal" id="modalCancel" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Si sales ahora no se guardará el equipo nuevo</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/inventario/ver/" class="btn btn-primary">Salir sin guardar</a>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Continuar editando</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

      </div>

{% endblock %}

<!--  ########VIEW US38####### -->
