<!--  ######VIEW US38###### -->
{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}

<h1>Crear Inventario</h1>

    <div class="container-fluid">

{% if user.is_authenticated %} <!-- comprueba si la sesión del usuario está iniciada -->
    <form method="post">
  {% csrf_token %}
    <div class="row">
     <div class="col-lg-6">
         <div class="card-box">
        <div class="input-field ">
           <label class="active" >Nombre de inventario:</label>
            <input class="form-control" name="nombre" maxlength="100" required="" id="nombre" >
            {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
             <br>
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
            <br>
             <button type="submit" class="btn btn-primary">Submit</button>
        </div>
             </div>
    </div>
    </div>


</form>
{% else %}
<h1>Not authenticated</h1> <!-- si la sesión no está iniciada te muestra -->


{% endif %}

    </div>

{% endblock %}

<!--  ########VIEW US38####### -->