<!-- ######## VIEW US45 ######## -->
{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col text-center m-3">
            <h1>Editar inventario {{ inventario.nombre }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-lg-2">
                <div class="row">
                    <div class="col mb-3">
                        <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#modalCancel"><i
                                class="fas fa-arrow-left"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-box">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="row">
                                    <div class="col-md-2">
                                        <button class="btn btn-danger" type="button" data-toggle="modal"
                                                data-target="#modalCancel">Cancelar
                                        </button>
                                    </div>
                                    <div class="col-md-2 offset-md-8">
                                        <button class="btn btn-success waves-effect waves-light" type="button" data-toggle="modal"
                                                data-target="#modalSaved">Guardar
                                        </button>
                                    </div>
                                </div>
                                <div class="modal" id="modalSaved" tabindex="-1" role="dialog" data-backdrop="static">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Se han realizado cambios al inventario</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success waves-effect waves-light" type="submit">De acuerdo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalCancel" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Si sales ahora no se guardarán los cambios en el inventario</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar editando</button>
                        <a href="/ambulancia/ver/" class="btn btn-danger">Salir sin guardar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}