<!--######VIEW US38 #######-->
{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <h1 align="center"><i class="zmdi zmdi-shape"> </i>Editar Material {{ material.nombre }}</h1>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-lg-2">
                        <div class="row">
                            <div class="col mb-3">
                                <a href="{% url 'material:ver_material' %}"><button class="btn btn-dark" type="button" data-toggle="modal"
                                        data-target="#modalCancel"><i
                                        class="fas fa-arrow-left"></i></button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card-box">
                                    <form method="post" action="{% url "material:edit" material.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            {{ form.as_p }}
                                        </div>
                                        <div class="row">
                                    <div class="col-md-2">
                                        <a href="{% url 'material:ver_material' %}"><button class="btn btn-danger" type="button" data-toggle="modal"
                                                data-target="#modalCancel">Cancelar
                                        </button></a>
                                    </div>
                                    <div class="col-md-2 offset-md-8">
                                        <button class="btn btn-success waves-effect waves-light" type="submit">Guardar
                                        </button>
                                    </div>
                                </div>
                                    </form>

                                    <!-- #### US#34 #### -->
                                </div> <!-- end row -->
                                </tbody>
                                </table>
                            </div> <!-- container-fluid -->
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>



        {% else %}
            <h1>No estas autenticado</h1>
        {% endif %}


{% endblock %}

<!--######VIEW US38 #######-->

